PORT=8081
DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=notifications
DB_SSLMODE=disable
REDIS_ADDR=localhost:6379
JWT_SECRET=your jwt secret

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=no-reply@jobboard.com
